<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->

<mat-nav-list>
  <mat-list-item (click)="navigate('all')">All</mat-list-item>
  <mat-list-item (click)="navigate('youtube')">YouTube</mat-list-item>
  <mat-list-item (click)="navigate('twitter')">Twitter</mat-list-item>
  <mat-list-item (click)="navigate('facebook')">Facebook</mat-list-item>
</mat-nav-list>